<div class="footer w-100">
    <div class="bg text-white">
        <div class="row d-flex align-items-center">
            <div class="col-md-6  text-center text-md-left mb-4 pt-3">
                <h6>Get connected with us on social networks!</h6>
            </div>
            <div class="col-md-6  text-center text-md-right pb-3">
                <a href="facebook.com">
                    <i class="fab fa-facebook-f text-white mx-4"></i>
                </a>
                <a href="twitter.com">
                    <i class="fab fa-twitter text-white mx-4"></i>
                </a>
                <a href="google.com">
                    <i class="fab fa-google text-white mx-4"></i>
                </a>
                <a href="linkedin.com">
                    <i class="fab fa-linkedin-in text-white mx-4"></i>
                </a>
                <a href="instagram.com">
                    <i class="fab fa-instagram text-white mx-4"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row bg-dark text-white pt-4 pt-md-5">
        <div class="col-sm-3 col-md-4 text-center">
            <h5 class="text-center">Explore</h5>
            <p class=" text-sm-left">Home</p>
            <p class=" text-sm-left">About</p>
            <p class="text-sm-left">Contact Us</p>
        </div>
        <div class="col-sm-4 col-md-4">
            <h5 >Useful links</h5>
            <p>productStore.com</p>
            <p >Shipping Rate</p>
            <p >Help</p>
        </div>
        <div class="col-sm-5 col-md-4">
            <h5>Contact Us</h5>
            <p class="text-sm-left"><span><i class="fas fa-map-pin m-2"></i></span>New York, Avenue Street</p>
            <p class="text-sm-left"><span><i class="fas fa-phone m-2"></i></span>042 876 836 908</p>
            <p class="text-sm-left"><span><i class="fas fa-envelope m-2"></i></span>company@example.com</p>
        </div>
        
    <div class="text-center py-3 bg-dark text-white">© 2020 Copyright:
        <a href="https://bootstrap.com/">Bootstrap.com</a>
    </div>

    
</div>
</div>
