<div class="text-center m-5">
    <div class="card w-75 d-block  m-auto cbg shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{userObj.profilePic}}" alt="">
                </div>
                <div class="col-sm-8  padd">
                    <h4>ID : {{userObj.id}}</h4>
                    <h4>Email : {{userObj.email}}</h4>
                    <h4>Name : {{userObj.name}}</h4>
                    
                </div>
            </div>       
        </div>
        <div class="card-footer table-responsive">
            <table class="table table-striped table-bordered tbg">
                <thead>
                    <tr>
                        <th colspan="4">Address</th>
                        <th rowspan="2">Proffession</th>
                        <th rowspan="2">Mobile No</th>
                    </tr>
                    <tr>
                        <th>Street</th>
                        <th>Suite</th>
                        <th>City</th>
                        <th>ZipCode</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{userObj.address.street}}</td>
                        <td>{{userObj.address.suite}}</td>
                        <td>{{userObj.address.city}}</td>
                        <td>{{userObj.address.zipcode}}</td>
                        <td>{{userObj.profession}}</td>
                        <td>{{userObj.mobileno}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>