<div class="body">

<div>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container ">
      <a class="navbar-brand text-white" href="#"><i class="fas fa-store m-1"></i>Online store</a>
      <button class="navbar-toggler tog" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon tog"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 ">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive = "active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" routerLinkActive = "active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive = "active">Login</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link " routerLink="contactus" routerLinkActive = "active">Contact Us</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link  " routerLink="products" routerLinkActive = "active">Products</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link  " routerLink="Api" routerLinkActive = "active">ApiData</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link " routerLink="users" routerLinkActive = "active">UserData</a>
          </li>  
        </ul>
      </div>
    </div>
  </nav>
</div>

<div>
  <router-outlet> </router-outlet>

  
  <app-footer></app-footer>
</div>
</div>
