<div class=" bg-light contact">
    <div class="display-5 p-5 text-white  text-center">Contact Us</div>
    <div class="row row-cols-2 row-cols-sm-2 text-center">
        <div class="text-white col d-block mx-auto pt-5">
            <p class="text-left  d-block mx-auto"><span><i class="fas fa-map-pin m-2"></i></span>New York, Avenue Street</p>
            <p class="text-left   d-block mx-auto"><span><i class="fas fa-phone m-2"></i></span>042 876 836 908</p>
            <p class="text-left  d-block mx-auto"><span><i class="fas fa-envelope m-2"></i></span>company@example.com</p>
        </div>
        
            
        <div class="container col">
            <div class=" row w-100 w-sm-75">
                <div class="col-10 col-sm-8 col-md-7 col-lg-6 bg-light form shadow  ">
                        <form class="d-block mx-auto ">
                            <div class="form-floating mb-3 d-block mx-auto">
                                <input type="text" name="" id="un" class="form-control" placeholder="Enter username" autocomplete="off">
                                <label for="un">Name</label>
                    
                            </div>
                            <div class="form-floating mb-3 d-block mx-auto">
                                <input type="email" name="" id="em" class="form-control" placeholder="Enter email">
                                <label for="em">Email</label>
                    
                            </div>
                            <div class="form-floating mb-3 d-block mx-auto">
                                <input type="text" name="" id="un" class="form-control" placeholder="Enter username" autocomplete="off">
                                <label for="un">Type your message here</label>
                    
                            </div>
                            <button class="btn btn-primary m-3 float-end btn-sm">Send</button>
                        </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
