.bg-image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVu8QQRfMZn5--7CmsyUyNfxTnFTR_4LiV7g&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;

}
.btn {
    border-color: blanchedalmond;
    background-color: cornsilk;
    color: black;
    border-color: black;
    box-shadow: none;
}
.btn:hover {
    transform: scale(1.0);
}
img{
    height: 100vh;
}
.carousel-item {
    height: 100vh;
    background: no-repeat scroll center scroll;
    -webkit-background-size : cover;
    background-size: cover;
}
.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.4;
}
.carousel-caption {
    bottom: 150px;
    
}
.btn-1 {
    background-color: wheat;
    margin: 10px;
}
.btn-2 {
    background-color: tomato;
    color: white;
}
.salebg {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGHtPEeKy4vwz-NdZSN_GUX-Wx2d0jAQ0x5g&usqp=CAU");
    background-repeat: no-repeat scroll center scroll;
    -webkit-background-size:cover ;
    background-size: cover;
    background-attachment: fixed;
}
.salebg::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
}