.reg {
    border-radius: 5px;
}
.regbg {
    background-image: url("https://image.freepik.com/free-photo/close-up-specialist-filling-out-form_1232-369.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}